.clear {
	clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 125%;
}

body {
	font-size: 50%;
}

p, ul {
	padding: 0;
	margin: 0;
}

img {
	border: none;
}

body {
	background: #fafafa;
}

.container {
	width: 1070px;
	height: 1500px;
	margin: 0 auto;
}

header {
	position: relative;
	height: 154px;
	border-top: 1px solid #474747;
}

/*градиент шапки*/
header .light_left_part, header .light_right_part, header .light_center_part {
	/*background: url(../img/header_bg.jpg) repeat-x;*/
	background: #2e2e2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #2e2e2e 0%, #1c1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2e2e), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2e2e2e 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2e2e2e 0%,#1c1c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2e2e2e 0%,#1c1c1c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2e2e2e 0%,#1c1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
}

header .light_left_part {
	position: absolute;
	z-index: 1;
	width: 675px;
	height: 132px;
	top: 11px;
	left: 0;
	border-radius: 0 15px 0 0;
	/*background: url(../img/header_bg.jpg) repeat-x;*/
}

header .light_right_part {
	position: absolute;
	z-index: 1;	
	width: 60px;
	height: 132px;
	top: 11px;
	right: 0;
	border-radius: 15px 0 0 0px;
	/*background: url(../img/header_bg.jpg) repeat-x;*/
}

header .light_center_part {
	position: absolute;
	z-index: 0;
	height: 132px;
	width: 100%;	
	top: 11px;
	/*background: url(../img/header_bg.jpg) repeat-x;*/
}

header .dark_top, header .dark_center {
	background: #252525; /* Old browsers */
	background: -moz-linear-gradient(top,  #252525 0%, #202020 50%, #1f1f1f 63%, #1e1e1e 75%, #1a1a1a 89%, #191919 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252525), color-stop(50%,#202020), color-stop(63%,#1f1f1f), color-stop(75%,#1e1e1e), color-stop(89%,#1a1a1a), color-stop(100%,#191919)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #252525 0%,#202020 50%,#1f1f1f 63%,#1e1e1e 75%,#1a1a1a 89%,#191919 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #252525 0%,#202020 50%,#1f1f1f 63%,#1e1e1e 75%,#1a1a1a 89%,#191919 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #252525 0%,#202020 50%,#1f1f1f 63%,#1e1e1e 75%,#1a1a1a 89%,#191919 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #252525 0%,#202020 50%,#1f1f1f 63%,#1e1e1e 75%,#1a1a1a 89%,#191919 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#191919',GradientType=0 ); /* IE6-9 */	
}

header .dark_top {
	position: absolute;
	z-index: 0;	
	height: 85px;
	width: 100%;
}

header .dark_center {
	position: absolute;
	z-index: 999;
	width:335px;
	height: 99px;
	left: 675px;
	border-radius: 0 0 15px 15px;
}

header .dark_bottom {
	position: absolute;
	z-index: 999;
	bottom: 0px;
	height: 12px;
	width: 100%;
	background: #141414; /* Old browsers */
	background: -moz-linear-gradient(top,  #141414 0%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141414), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #141414 0%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #141414 0%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #141414 0%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #141414 0%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

/*логотип*/
.logo {
	display: block;
	float: left;
	margin: 32px 0 0 63px;
}

a.logo {
	text-decoration: none;
}

a.logo:focus {
	outline: none;
}

.logo h1 {
    text-indent: -9999px;
    background: url(../img/box_logo.png) no-repeat;
    width: 267px;
    height: 41px;
    margin: 0;
}

.logo h2 {
	display: block;
	margin: 8px 0 0 0px;
	text-transform: uppercase;
	letter-spacing: 2.3px;
	font: 1.2em Verdana, sans-serif;
	color: #fff;
	opacity: 0.2;
}

/*верхнее меню*/
.top_menu {
	margin: 11px 16px 0 0;
	padding: 0;
	float: right;
}

.top_menu li {
	display: block;
	list-style: none;
	float: left;
	padding: 0 10px;
	border-right: 1px solid #494949;
}

.top_menu li:last-child {
	border: none;
}

.top_menu li a {
	font: 1.1em Verdana, sans-serif;
	color: #616161;
	text-decoration: none;	
}

.top_menu li a:hover {
	color: #fff;	
}

/*меню подписки*/
.subscribe_menu {
	margin: 20px 0 0 18px;
	padding: 0;
	float: left;
}

.subscribe_menu img {
	display: block;
}

.subscribe_menu li {
	display: block;
	float: left;
	list-style: none;
}

.subscribe_menu li:nth-child(2) {
	font: 1.1em Verdana, sans-serif;
	color: #6e6e6e;
	padding: 0 6px 0 17px;
}

.subscribe_menu li:nth-child(n+3) a {
	color: #a9a9a9;
	font: 1.1em Verdana, sans-serif;
	text-decoration: none;
}

.subscribe_menu li:nth-child(n+3) a:hover {
	color: #fff;
}

.subscribe_menu li:nth-child(n+3) {
	padding: 0 7px;
	border-right: 1px solid #4b4a4a;
}
.subscribe_menu li:last-child {
	border: none;
}

.subscribe_menu li:nth-child(3) {
	padding-left: 0px;
}

/*форма поиска*/
.search_form {
	position: relative;
	width: 309px;
	height: 39px;
	top: 13px;
	margin: 0 auto;
}

.text {
	padding-left: 12px;
	background: #121212;
	border-radius: 7px;
	border: none;
	border-bottom: 1px solid #292929;
	font: 1.1em Verdana, sans-serif;
	color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
}

/*красная тень в мазиле*/
.text:-moz-submit-invalid {
  box-shadow: none;
}

.text:-moz-ui-invalid {
  box-shadow:none;
}

.text:focus {
	outline: 0;
	box-shadow: -1px 0px 0px 0px #292929 inset, 
	1px 0px 0px 0px #292929 inset,
	0px 1px 0px 0px #292929 inset;
	-moz-box-shadow: -1px 0px 0px 0px #292929 inset, 
	1px 0px 0px 0px #292929 inset,
	0px 1px 0px 0px #292929 inset;
	-webkit-box-shadow: -1px 0px 0px 0px #292929 inset, 
	1px 0px 0px 0px #292929 inset,
	0px 1px 0px 0px #292929 inset;
}

.text::-webkit-input-placeholder {
   color: #5d5d5d;
   font-weight: normal;
}

.text::-moz-placeholder {
	color: #5d5d5d;
	font-weight: normal;
}

.text:-ms-input-placeholder {
    color: #5d5d5d;
    font-weight: normal;
} 

.submit {
	width: 24px;
	height: 24px;
	border: none;
	outline: none;
	background: url(../img/lupa.png) no-repeat 50% 50%;
	position: absolute;
	right: 10px;
	top: 7px;
}

/*remove Firefox's dotted outline on BUTTONS*/
.submit::-moz-focus-inner {
	border: 0;
}

.submit:hover {
	cursor: pointer;
}